:root {
    --primary-ws: #003757;
    --secundary-ws: rgba(189, 231, 255, 0.651);
    --light-ws: #d6d6d6;
    --white-ws: #fefefe;
    --dark-ws: #333333;
    --icon-ws: rgba(189, 231, 255, 0.651);
    --border-ws: #015a8d;
    --darklight-ws:rgba(0, 0, 0, 0.075);

    --form-ws: #f7f7f7;
    --label-login-ws: #cacaca;
    --input-login-ws: #ebebeb;
    --button-login-ws: #4277e9;
}


*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darklight-ws) !important;
    color: var(--dark-ws) !important;
}

.wrapper {
    width: 100%;
    height: 200px;
    background-color: var(--primary-ws) !important;
}

.wrapper-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--white-ws);
    color: var(--white-ws);
    margin-top: -50px;
    margin-bottom: 20px;
    padding: 50px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px var(--darklight-ws);    
    z-index: 1;
}

.owl-theme {
    width: 100%;
    height: auto;
    color: var(--dark-ws) !important;
}

.owl-dots {
    height: 15px;
    width: 45px;
    border: 2px solid red !important;
    position: absolute;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    display: none !important;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block !important;
    /* display: flex !important; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    width: 26px;
    height: 26px;
    background-color: var(--primary-ws) !important;
    color: var(--white-ws) !important;
    font-weight: 800;
}