
.table > :not(:first-child) {
    border-top: none !important;
}

.table > thead {
    background-color: var(--border-ws);
    color: var(--light-ws)
}

.table {
    border-radius: 5px 5px 0 0 !important;
}
